<div class="container">
    <div class="row align-items-center">
        <!-- Text Column -->
        <div class="col-md-6 my-5">
            <h2 class="text-center">Where Learning Meets Fun: <br> Flashcards, Games, and More!</h2>
            <div class="d-grid gap-2">
                <%= link_to 'Get Started!', new_registration_path, class: 'btn btn-primary' %>
                <%= link_to 'Log In', new_session_path, class: 'btn btn-secondary' %>
            </div>
        </div>
        <!-- Image Column -->
        <div class="col-md-6 text-md-end my-5">
            <img src="https://placehold.co/600x600" class="img-fluid" alt="Description of image">
        </div>
    </div>
</div>