<%# /Users/tylerfedrick/studyapp/app/views/library/index.html.erb %>
<h1>My Library</h1>
<p>Welcome to your library. Here you can access various resources.</p>

<ul>
    <li><%= link_to 'Flashcards', flashcard_sets_path %></li>
    <li><%= link_to 'Tests', test_sets_path %></li>
</ul>